DATABASENAME=your_database_name
DBUSER=postgres
DBPASSWORD=your_password
DBHOST=localhost
DBPORT=5432

MODEL_PATH=artifacts/tuned_model.joblib

FASTAPI_URL=http://localhost:8000
FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=8000
DEBUG_MODE=FALSE
